= stylesheet_link_tag "group", :media => "all"
:javascript
  var username = '#{current_user.name}'
.chat
  .chat-side
    .chat-user.clearfix
      %h5 = current_user.name
      .chat-user__actions
        %a.chat-user__action{href: "/groups/new"}
          = fa_icon 'pencil-square-o'
        %a.chat-user__action{ href: "/users/edit" }
          = fa_icon 'gear'
    %ul.chat-groups
      - @groups.each do |group|
        = render partial: 'group', locals: { group: group }
  .chat-main
    .chat-header.clearfix
      .chat-header--left
        %h2 = @group.name
        %p.chat-header__users
          Members:
          - @users.each do |user|
            %span.chat-header__user= user.name
      .chat-header--right
        %a.chat-header__edit-btn{:href => "/groups/#{@group.id}/edit"} Edit
    .chat-body
      %ul.chat-messages
        - @messages.each do |message|
          = render partial: 'message', locals: { message: message }
    .chat-footer
      = form_for [@group, @message], class: 'clearfix' do |f|
        .chat-footer__body
          = f.text_area :body, row: 1, placeholder: 'type a message'
          %label.chat-footer__file
            = f.file_field :avatar
            %i.fa.fa-image
        = f.submit 'Send'
